[Desktop Entry]
Encoding=UTF-8
Name=Link to Full API list - APIs | Mbed OS 5 Documentation
Type=Link
URL=https://os.mbed.com/docs/mbed-os/v5.12/apis/index.html
Icon=text-html
Name[en_US]=mbed APIs list
